<h1>the new template</h1>



<%= form_with model: @course, local: true do |form| %>

<div>
    <%= form.label :short_name  %>
    <%= form.text_field :short_name , placeholder: "Enter a short name" %>
</div>
<div>
    <%= form.label :course_image %>
    <%= form.file_field :course_image %>
</div>
<div>
    <%= form.label :name %>
    <%= form.text_field :name , placeholder: "Enter a name" %>
</div>
<div>
    <%= form.label :description %>
    <%= form.text_area :description , placeholder: "Enter a description" %>
</div>
<div>
    <%= form.submit %> 
</div>


<% end %>
